*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* estilos de header */

header{
display: flex;
justify-content: space-between;
align-items: center;

}

header img {
max-width: 15%;
margin: 16px ;
}

/* estilos menu */

header nav ul {
display: flex;
justify-content: right;
gap: 16px;
margin: 24px;
}

header nav ul li{
list-style: none;
color: #2D2D2D;
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 14px;
text-decoration: none;
}

header nav ul li a{
color: #2D2D2D;
text-decoration: none;
}

/* estilos main */

.banner {
width: 100%;
object-fit: cover;
}

main{
background-color: beige;
text-align: left;
flex-wrap: wrap;
}

.somos{
display: flex;
padding: 56px ;
gap: 32px;
align-items: center;

}

.somos p span{
display: block;
}


/* estilos atajos */

.atajos {
list-style: none;
text-align: center;
background-color: #F7E3E3;
padding: 48px 0px 16px 0px;
display: grid;
grid-template-columns: 1, 1fr;
grid-gap: 20px;


}

.atajos li {
margin-bottom: 32px;
}

.atajos p span{
display: block;
}

.atajos img{
max-width: 20%;
min-width: 250px;
}


section li .mascota_2, section li .mascota_4 {
display: none;
}


/* estilos noticias */

.img{
height: 40vh;
width: auto;
overflow: hidden;

}


.noticias .info {
flex-direction: column;
margin: 24px 24px 48px;
    
}

.noticias .info h2, h3, p {
    margin-bottom: 16px;
}

.noticias .info span {
    display: block;
}

.italic {
font-style: oblique;
font-size: 12px;
line-height: 120%;
}


/* estilos footer */

footer{
background-color: #0F3D33;
text-align: center;
padding-top: 16px;
padding-bottom: 16px;
}
    
.footerwhite {
color: #FFFF;
line-height: 120%;
}
    
.footerbold {
color: #FFFF;
font-weight: 800;
line-height: 120%;
}
    
.c {
color: #FFFF;
font-size: 12px;
margin-top: 16px;
}

/* estilos botones */

button{
color: #FFFF;
background-color: #D8742A;
border: none;
font-family:"Roboto", sans-serif;
font-size: 16px;
font-weight: 900px;
margin: 16px;
height: 32px;
width: 90px;
border-radius: 4px;
}


/* estilos textos */

h1{
color: #0F3D33;
font-family: "Roboto", sans-serif;
font-weight: 800;
font-size: 32px;
line-height: 90%;
}
    
h2{
color: #2D2D2D;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 24px;   
line-height: 120%;
}
    
h3{
color: #2D2D2D;
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 18px;  
line-height: 120%;  
}
    
p{
color: #2D2D2D;
font-family: "Roboto", sans-serif;
font-weight: 300;
font-size: 16px; 
line-height: 120%;
}


/* mq tablet */

@media screen and (min-width: 600px) {

    section li .mascota_2 {
        display: block;
       }

    .atajos {
 
    grid-template-columns: repeat (3,1fr);
    grid-template-rows: repeat (2, 50%);
  
    }

    .atajos .mascota_1, .mascota_2 {
        grid-column; span 2;
    }

    .atajos .mascota_3, .mascota_4 {
        grid-row: span 2;
    }



}


@media screen and (min-width: 1024px) {
    section li .mascota_2, section li .mascota_4 {
    display: block;
   }

   .atajos {
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: 30%;
    }




}