* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: none;
}

.navbar-toggler {
  border: none;
}

.navbar-nav {
  text-align: right;
  color: #2D2D2D;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.navbar-brand img {
  max-width: 60px;
}

main {
  background-color: #F5F5DE;
  text-align: left;
  flex-wrap: wrap;
}
main .banner {
  width: 100%;
  object-fit: cover;
}
main .somos {
  display: flex;
  padding: 56px;
  gap: 32px;
  align-items: center;
}
main .somos p span {
  display: block;
}
main .titulo {
  margin: 40px 56px;
  gap: 32px;
  align-items: center;
}
main .historia {
  padding: 56px;
  gap: 32px;
  align-items: center;
}
main .adopta {
  background-color: #F5F5DE;
  text-align: left;
  padding: 56px;
  align-items: center;
}
main .dona {
  display: flex;
  text-align: left;
  padding: 56px;
  gap: 32px;
  align-items: center;
}

p span {
  display: block;
  margin-bottom: 16px;
}

.donacion main {
  background-color: #F5F5DE;
  text-align: left;
  flex-wrap: wrap;
}

.home section ul {
  list-style: none;
  text-align: center;
  background-color: #F4E4E3;
  padding: 16px 0 56px;
  margin-bottom: 0;
}
.home section ul li {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;
}
.home section ul li .mascota_img {
  max-width: 60%;
  min-width: 100px;
  margin-top: 56px;
}

.equipo {
  text-align: center;
  background-color: #F4E4E3;
  padding: 16px 0 56px;
  margin-bottom: 0;
}
.equipo h1 {
  text-align: left;
  padding: 56px;
}
.equipo li {
  list-style: none;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
}
.equipo .equipo_img {
  max-width: 60%;
  min-width: 200px;
  border-radius: 40px;
  margin: 16px 40px;
}

.unete section ul {
  text-align: center;
  background-color: #F4E4E3;
  padding: 16px 0 56px;
  margin-bottom: 0;
}
.unete section ul li {
  list-style: none;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
}
.unete section ul .unete_img {
  max-width: 20%;
  min-width: 100px;
  margin: 24px;
}

.adopcion section ul {
  text-align: center;
  background-color: #F4E4E3;
  padding: 16px 0 56px;
  margin-bottom: 0;
}
.adopcion section ul li {
  list-style: none;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 4;
}
.adopcion section ul .perris_img {
  max-width: 100%;
  min-width: 100px;
  margin-top: 56px;
}

.donacion section ul {
  text-align: center;
  background-color: #F4E4E3;
  padding: 16px 0 56px;
  margin-bottom: 0;
}
.donacion section ul li {
  list-style: none;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 4;
  margin: 48px;
}
.donacion section ul .dona_img {
  max-width: 20%;
  min-width: 300px;
  border-radius: 16px;
  margin: 24px;
}

section p span {
  display: block;
}

ul .mascota_2,
ul .mascota_4,
ul .proyectos,
ul .rrss,
ul .diseno,
ul .perri5,
ul .perri6,
ul .perri7,
ul .perri8,
ul .perri9,
ul .perri10,
ul .perri11,
ul .perri12 {
  display: none;
}

.perro_noticia,
.equipo_mision {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  overflow: hidden;
}

.info {
  flex-direction: column;
  margin: 24px 24px 48px;
}
.info h2,
.info h3,
.info p {
  margin-bottom: 8px;
}
.info .info span {
  display: block;
}
.info .italic {
  font-style: oblique;
  font-size: 12px;
  line-height: 120%;
}

.mision {
  background-color: #E4E9F6;
  padding: 56px;
  gap: 32px;
  align-items: center;
}

h1 {
  color: #1D3C33;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 90%;
}

h2 {
  color: #2D2D2D;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
}

h3 {
  color: #2D2D2D;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
}

p {
  color: #2D2D2D;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
}

@media screen and (min-width: 600px) {
  section ul .mascota_2,
  section ul .proyectos,
  section ul .perri5,
  section ul .perri6,
  section ul .perri7,
  section ul .perri8 {
    display: block;
  }
  .home section ul {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    align-items: center;
  }
  .nosotros section ul {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2;
    align-items: center;
  }
  .unete section ul {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    align-items: center;
  }
  .adopcion section ul {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2;
    align-items: center;
  }
  .donacion section ul {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  section ul .mascota_2,
  section ul .mascota_4,
  section ul .proyectos,
  section ul .rrss,
  section ul .diseno,
  section ul .perri5,
  section ul .perri6,
  section ul .perri7,
  section ul .perri8,
  section ul .perri9,
  section ul .perri10,
  section ul .perri11,
  section ul .perri12 {
    display: block;
  }
  .navbar-toggler,
  .navbar-nav,
  .navbar-brand {
    display: none;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin: 16px;
  }
  header nav ul {
    display: flex;
    gap: 32px;
  }
  header nav ul li {
    list-style: none;
    color: #2D2D2D;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
  }
  header nav ul li a {
    color: #2D2D2D;
    text-decoration: none;
  }
  header nav ul li a img {
    width: 60px;
  }
}
.home section ul {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1;
  align-items: center;
}

.nosotros section ul {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2;
  align-items: center;
}

.unete section ul {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1;
  align-items: center;
}

.donacion section ul {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2;
  align-items: center;
}

footer {
  background-color: #1D3C33;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.footerwhite {
  color: white;
  line-height: 120%;
}

.footerbold {
  color: white;
  font-weight: 800;
  line-height: 120%;
}

.c {
  color: white;
  font-size: 12px;
  margin-top: 16px;
}

button {
  color: white;
  background-color: #d8742a;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 900px;
  height: 32px;
  width: 90px;
  border-radius: 4px;
}

/*# sourceMappingURL=style.css.map */
