@import "../utilidades/variables";

header {
  display: none;
}

.navbar-toggler {
  border: none;
}

.navbar-nav {
  text-align: right;
  color: $neutral-900;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.navbar-brand img {
  max-width: 60px;
}
