@import "../utilidades/variables";

main {
    background-color: $primary-100;
    text-align: left;
    flex-wrap: wrap;

    .banner {
        width: 100%;
        object-fit: cover;
        }

    .somos {
        display: flex;
        padding: 56px ;
        gap: 32px;
        align-items: center;

        p span {
            display: block;
            }
        }

    .titulo {
        margin: 40px 56px ;
        gap: 32px;
        align-items: center;
        }
            
    .historia {
        padding: 56px ;
        gap: 32px;
        align-items: center;
        }
            
    .adopta {
        background-color: $primary-100;
        text-align: left;
        padding: 56px ;
        align-items: center;
        }
            
    .donacion main {
        background-color: $primary-100;
        text-align: left;
        flex-wrap: wrap;

    .dona {
        display: flex;
        padding: 56px ;
        gap: 32px;
        align-items: center;
        }
    }

    p span {
        display: block;
        margin-bottom: 16px;
    }
            
}




    

    