@import "../utilidades/variables";

.home section ul {
  list-style: none;
  text-align: center;
  background-color: $terciary-100;
  padding: 16px 0 56px;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  li {
    margin: 16px;
    
    button {
      color: #ffff;
      background-color: #d8742a;
      border: none;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      margin-top: 8px;
      font-weight: 900px;
      width: 90px;
      border-radius: 4px;
    }
  }

  .mascota_img {
    max-width: 60%;
    min-width: 20%;
    margin-top: 56px;
  }
}

.equipo {

  ul {
    text-align: center;
    background-color: $terciary-100;
    padding: 56px;
    margin-bottom: 0;
    display: grid;
  }

  h1 {
    background-color: $terciary-100 ;
    text-align: left;
    padding: 56px;
    padding-bottom: 8px;
    margin-bottom: 0;
  }
}



li {
  list-style: none;

  button {
    color: #ffff;
    background-color: #d8742a;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin-top: 8px;
    font-weight: 900px;
    width: 90px;
    border-radius: 4px;
  }

  .equipo_img {
    max-width: 60%;
    min-width: 200px;
    border-radius: 40px;
    margin: 16px 40px;
  }
}

.unete section ul {
  text-align: center;
  background-color: $terciary-100;
  padding: 16px 0 56px;
  margin-bottom: 0;
  list-style: none;
  display: grid;

  li {
    button {
      color: #ffff;
      background-color: #d8742a;
      border: none;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      margin-top: 8px;
      font-weight: 900px;
      width: 90px;
      border-radius: 4px;
    }
  }

  .unete_img {
    max-width: 20%;
    min-width: 100px;
    margin: 24px;
  }
}

.adopcion section ul {
  text-align: center;
  background-color: $terciary-100;
  padding: 16px 0 56px;
  margin-bottom: 0;
  list-style: none;
  display: grid;

  li {
    button {
      color: #ffff;
      background-color: #d8742a;
      border: none;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      margin-top: 8px;
      font-weight: 900px;
      width: 90px;
      border-radius: 4px;
    }
  }

  .perris_img {
    max-width: 100%;
    min-width: 100px;
    margin-top: 56px;
  }
}

.donacion section ul {
  text-align: center;
  background-color: $terciary-100;
  margin-bottom: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 4;

  li {
    margin: 24px;

    button {
      color: #ffff;
      background-color: #d8742a;
      border: none;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      margin-top: 8px;
      font-weight: 900px;
      width: 90px;
      border-radius: 4px;
    }
  }

  p {
    margin-bottom: 8px;
  }
}
.dona_img {
  max-width: 20%;
  min-width: 300px;
  border-radius: 16px;
  margin-bottom: 8px;
}

section p span {
  display: block;
}

ul .mascota_2,
ul .mascota_4,
ul .proyectos,
ul .rrss,
ul .diseno,
ul .perri5,
ul .perri6,
ul .perri7,
ul .perri8,
ul .perri9,
ul .perri10,
ul .perri11,
ul .perri12 {
  display: none;
}

.noticia_img,
.equipo_mision {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  overflow: hidden;
}

.info {
  flex-direction: column;
  margin: 24px 24px 48px;


  .info span {
    display: block;
  }

  .italic {
    font-style: oblique;
    font-size: 12px;
    line-height: 120%;
  }
}

.mision {
  background-color: $secondary-100;
  padding: 56px;
  gap: 32px;
  align-items: center;
}
