//variables color

//Primario
$primary-100: #f5f5de;
$primary-500: #327532;
$primary-900: #1d3c33;

//Secundario
$secondary-100: #e4e9f6;
$secondary-300: #cecef5;
$secondary-500: #7171ab;

//Terciario
$terciary-100: #f4e4e3;
$terciary-300: #d7a8ae;
$terciary-500: #cb793c;
$terciary-800: #863e07;

//Neutrales
$neutral-50: #ffffff;
$neutral-900: #2d2d2d;
